{{ define "meta" }}
  <meta name="robots" content="noindex,nofollow,nosnippet">
  <title>{{ .Tit }}</title>
  <meta name="description"
        content="Curated library of high quality sheet music for bayan. Бібліотека вибраних нот високої якості для баяна">
{{ end }}

{{ define "piece" }}
  <div {{ if .AlphaLink }} id="{{ .AlphaLink }}" {{ end }}>
    <div>
      <a href="/piece/{{ .File }}" class="link">{{ .Tit }}</a>
      <span class="text-lg italic">{{ .Com }} {{ .UkrArt }} {{ .Arr }} {{ .Aut }}</span>
    </div>
    <div data-nosnippet>
      <div class="tag">id: <span class="tag-value">{{ .ID }}</span></div>
      <div class="tag">org: <span class="tag-value">{{ .Org }}</span></div>
      <div class="tag">sty: <span class="tag-value">{{ .Sty }}</span></div>
      <div class="tag">gnr: <span class="tag-value">{{ .Gnr }}</span></div>
      <div class="tag">ton: <span class="tag-value">{{ .Ton | join ` ` }}</span></div>
      <div class="tag">frm: <span class="tag-value">{{ .Frm | join ` ` }}</span></div>
      <div class="tag">bss: <span class="tag-value">{{ .Bss | join ` ` }}</span></div>
      <div class="tag">lvl: <span class="tag-value">{{ .Lvl }}</span></div>
      {{ if ne .Ens "sol" }}
        <div class="tag">ens: <span class="tag-value">{{ .Ens }}</span></div>
      {{ end }}
      {{ if .Lyr }}
        <div class="tag">lyr: <span class="tag-value">{{ .Lyr }}</span></div>
      {{ end }}
      {{ if ne .Lcs "cpl" }}
        <div class="tag">lcs: <span class="tag-value">{{ .Lcs }}</span></div>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "body" }}
  <div data-nosnippet>
    {{ range .SectionLinks }}
      {{ if .Disabled }}
        <span class="link-block text-lg font-medium">{{ .Tit }}</span>
      {{ else }}
        <a href="{{ .URL }}" class="link link-block">{{ .Tit }}</a>
      {{ end }}
    {{ end }}
  </div>
  <h2 class="head2">{{ .Tit }}</h2>
  <div data-nosnippet class="mt-4">
    {{ range .AlphaLinks }}
      {{ if .Disabled }}
        <span class="text-lg link-button bg-blue-50">{{ .Tit }}</span>
      {{ else }}
        <a href="{{ .URL }}" class="link link-button">{{ .Tit }}</a>
      {{ end }}
    {{ end }}
  </div>
  <ul>
    {{ range .Pieces }}
      <li class="mt-2">{{ template "piece" . }}</li>
    {{ end }}
  </ul>
  <div data-nosnippet class="mt-4">
    {{ range .PageLinks }}
      {{ if .Disabled }}
        <span class="text-lg link-button bg-yellow-100">{{ .Tit }}</span>
      {{ else }}
        <a href="{{ .URL }}" class="link link-button">{{ .Tit }}</a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
