{{ define "meta" }}
  <title>{{ .Title }}</title>
  <meta name="description"
        content="Sheet music library for bayan | Бібліотека нот для баяна. {{ .Title }}" />
{{ end }}

{{ define "piece" }}
  <div {{ if .AlphaLink }} id="{{ .AlphaLink }}" {{ end }}>
    <div>
      <a href="/piece/{{ .File }}"><span>{{ .Tit }}</span></a>
      <span>{{ .Com }}</span>
      <span>{{ .ArtUkr }} {{ .Arr }}</span>
    </div>
    <div>
      <span>id: </span><span>{{ .ID }}</span>
      <span>org: </span><span>{{ .Org }}</span>
      <span>sty: </span><span>{{ .Sty }}</span>
      <span>gnr: </span><span>{{ .Gnr }}</span>
      <span>ton: </span><span>{{ .Ton | join ` ` }}</span>
      <span>frm: </span><span>{{ .Frm | join ` ` }}</span>
      <span>bss: </span><span>{{ .Bss | join ` ` }}</span>
      <span>lvl: </span><span>{{ .Lvl }}</span>
    </div>
  </div>
{{ end }}

{{ define "body" }}
  <div>
    {{ range .GroupLinks }}
      {{ if .Disabled }}
        <span>{{ .Title }}</span>
      {{ else }}
        <a href="{{ .URL }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </div>
  <h2>{{ .Title }}</h2>
  <div>
    {{ range .AlphaLinks }}
      {{ if .Disabled }}
        <span>{{ .Title }}</span>
      {{ else }}
        <a href="{{ .URL }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </div>
  <ul>
    {{ range .Pieces }}
      <li>{{ template "piece" . }}</li>
    {{ end }}
  </ul>
  <div>
    {{ range .PageLinks }}
      {{ if .Disabled }}
        <span>{{ .Title }}</span>
      {{ else }}
        <a href="{{ .URL }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
