{{ define "body" }}
  <h2 class="head2">Browse catalog | Перегляд каталогу</h2>
  <div data-nosnippet class="mt-2">
    {{ range .CatalogGroups }}
      <a href="{{ .URL }}" class="link link-block">{{ .Title }}</a>
    {{ end }}
  </div>
  {{ with .SiteContent }}
    <h2 class="head2">Purpose | Призначення</h2>
    {{ range .Purpose }}
      <p class="mt-2">{{ .Eng | md }}</p> <p>{{ .Ukr | md }}</p>
    {{ end }}
    <h2 class="head2">User features | Можливості для користувача</h2>
    <ul class="list mt-2">
      {{ range .UserFeatures }}
        <li class="mt-2"><p>{{ .Eng }}</p> <p>{{ .Ukr }}</p></li>
      {{ end }}
    </ul>
    <h2 class="head2">Features for contributors | Можливості для розробників</h2>
    <ul class="list mt-2">
      {{ range .ContribFeatures }}
        <li class="mt-2"><p>{{ .Eng }}</p> <p>{{ .Ukr }}</p></li>
      {{ end }}
    </ul>
  {{ end }}
  {{ with .CatalogMeta }}
    <h2 class="head2">Advanced search | Розширений пошук</h2>
    <p class="mt-2">{{ .Purpose.Eng | md }}</p>
    <p class="mt-2">{{ .Purpose.Ukr | md }}</p>
    <table data-nosnippet class="mt-2 text-sm lg:text-base">
      {{ range .Meta }}
        <tr class="bg-yellow-100">
          <th></th>
          <th class="font-medium text-left">{{ .Tit.Eng }}</th>
          <th class="font-medium text-left pl-4">{{ .Tit.Ukr }}</th>
        </tr>
        {{ range .Sec }}
          <tr class="even:bg-blue-50">
            <td><span class="tag font-medium">{{ .Tit.Name }}<span></td>
            <td>{{ .Tit.Eng }}</td>
            <td class="pl-4">{{ .Tit.Ukr }}</td>
          </tr>
          {{ range .Sub }}
            <tr class="even:bg-blue-50">
              <td class="pl-6"><span class="tag">{{ .Name }}<span></td>
              <td>{{ .Eng }}</td>
              <td class="pl-4">{{ .Ukr }}</td>
            </tr>
          {{ end }}
        {{ end }}
      {{ end }}
    </table>
  {{ end }}
{{ end }}
