{{ define "body" }}
  <h2 class="head2">Browse catalog | Перегляд каталогу</h2>
  <div>
    {{ range .CatalogGroups }}
      <a href="{{ .URL }}" class="link cat-group">{{ .Title }}</a>
    {{ end }}
  </div>
  <h2 class="head2">Catalog meta | Опис каталогу</h2>
  <p>Learn how to search pieces quickly and efficiently</p>
  <p>Допоможе шукати п'єси швидко і ефективно</p>
  <table>
    {{ range .CatalogMeta }}
      <tr class="bg-yellow-100">
        <th></th>
        <th class="font-medium text-left">{{ .Tit.Eng }}</th>
        <th class="font-medium text-left">{{ .Tit.Ukr }}</th>
      </tr>
      {{ range .Sec }}
        <tr class="even:bg-blue-100">
          <td><span class="tag font-medium">{{ .Tit.Name }}<span></td>
          <td>{{ .Tit.Eng }}</td>
          <td>{{ .Tit.Ukr }}</td>
        </tr>
        {{ range .Sub }}
          <tr class="even:bg-blue-100">
            <td class="pl-6"><span class="tag">{{ .Name }}<span></td>
            <td>{{ .Eng }}</td>
            <td>{{ .Ukr }}</td>
          </tr>
        {{ end }}
      {{ end }}
    {{ end }}
  </table>
{{ end }}
