{{ define "body" }}
  <h2 class="head2">Catalog | Каталог</h2>
  <div data-nosnippet class="mt-2">
    {{ range .SectionLinks }}
      <a href="{{ .URL }}" class="link link-block">{{ .Tit }}</a>
    {{ end }}
  </div>
  {{ with .SiteContent }}
    <h2 class="head2">Purpose | Призначення</h2>
    {{ range .Purpose }}
      <p class="mt-2">{{ .Eng | md }}</p> <p lang="uk">{{ .Ukr | md }}</p>
    {{ end }}
    <h2 class="head2">User features | Можливості для користувача</h2>
    <ul class="list mt-2">
      {{ range .UserFeats }}
        <li class="mt-2"><p>{{ .Eng }}</p> <p lang="uk">{{ .Ukr }}</p></li>
      {{ end }}
    </ul>
    <h2 class="head2">Features for contributors | Можливості для розробників</h2>
    <ul class="list mt-2">
      {{ range .ContribFeats }}
        <li class="mt-2"><p>{{ .Eng }}</p> <p lang="uk">{{ .Ukr }}</p></li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
