<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {{ block "meta" . }}
      <meta name="robots" content="index,follow">
      <title>Selected sheet music for bayan | Вибрані ноти для баяна</title>
      <meta name="description"
            content="Curated library of high quality sheet music for bayan | Бібліотека вибраних нот високої якості для баяна">
    {{ end }}
    <link type="image/svg+xml" href="/image/icon.svg" rel="icon">
    <link href="/tw.css" rel="stylesheet">
  </head>
  <body class="text-base font-light">

    <main class="m-2 lg:mx-[10%]">
      {{ block "header" . }}
        <a href="/"><img src="/image/logo.svg" alt="Bayanguru logo" class="mx-auto"></a>
        <a href="/">
          <h1 class="head1 text-center">Selected sheet music for bayan</h1>
        </a>
        <a href="/">
          <h1 class="head1 text-center">Вибрані ноти для баяна</h1>
        </a>
        <p class="tagline">Curated library of high quality sheet music for bayan</p>
        <p class="tagline">Бібліотека вибраних нот високої якості для баяна</p>
        <search data-nosnippet id="search"></search>
      {{ end }}

      {{ block "body" . }} {{ end }}

      {{ block "footer" . }}
        <div data-nosnippet class="my-10">
          <a href="https://www.gnu.org/licenses/gpl.html" target="_blank"
             class="link link-block">License | Ліцензія</a>
          <a href="https://github.com/volodymyrprokopyuk/bayanguru/discussions" target="_blank"
             class="link link-block">Discussions | Обговорення</a>
          <a href="https://github.com/volodymyrprokopyuk/bayanguru/issues" target="_blank"
             class="link link-block">Issues | Корекція помилок</a>
        </div>
      {{ end }}
    </main>

    <script src="/pagefind/pagefind-ui.js"></script>
    <script>
      const translations = {
        placeholder: "Search pieces e.g. | Пошук п'єс пр. ukr flk sng ami vo2 frb elc",
        searching: "Searching for | В процесі пошуку для [SEARCH_TERM]...",
        clear_search: "Clear | Очистити",
        zero_results: "Nothing found for | Нічого не знайдено для [SEARCH_TERM]",
        one_result: "[COUNT] piece for | п'єса для [SEARCH_TERM]",
        many_results: "[COUNT] pieces for | п'єс для [SEARCH_TERM]",
        load_more: "Show more pieces | Показати більше п'єс",
      }
      window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({
          element: "#search",
          autofocus: true,
          pageSize: 7, // number of results before Show more
          showSubResults: false, // a single result per page
          sort: { lvl: "desc" }, // sort by level descending
          resetStyles: false, // inherit CSS from the site
          translations
        })
      })
    </script>
  </body>
</html>
