{{ define "meta" }}
  <meta name="robots" content="index,follow">
  {{ with .Piece }}
    <title>{{ .Tit }} {{ .Com }} {{ .UkrArt }}{{ .Arr }}</title>
    <meta name="description"
          content="{{ .Tit }} {{ .Com }} {{ .UkrArt }}{{ .Arr }} баян ноти">
  {{ end }}
{{ end }}

{{ define "body" }}
  {{ with .Piece }}
    <div data-pagefind-body>
      <h1 data-pagefind-meta="title" class="head1 text-center">
        {{ .Tit }} {{ .Com }} {{ .UkrArt }}{{ .Arr }}
      </h1>
      <div class="text-center">{{ .Desc }}</div>
      <div class=" my-[0.5rem] text-center">
        <a href="{{ .URL }}" class="button" >Downlaod | Заватнажити</a>
      </div>
      <div data-nosnippet>
        <p class="text-emerald-700">If you find this content useful, please
          <strong>share this page or this site</strong> on social networks and
          relevant forums in order to help growing our community. Thank you for
          your support!
        </p>
        <p class="mt-2 text-emerald-700">Якщо вам корисний цей контент, будь-ласка
          <strong>поширте цю сторінку або цей сайт</strong> в соціальних мережах та
          тематичних форумах, щоб допомогти розширити нашу спільноту. Дякую за
          вашу підтримку!
        </p>
      </div>
      <div data-nosnippet class="hidden">
        <div data-pagefind-meta="id">{{ .ID }}</div>
        <div data-pagefind-meta="com">{{ .Com }}</div>
        <div data-pagefind-meta="arr">{{ .Arr }}</div>
        <div data-pagefind-meta="art">{{ .Art }}</div>
        <div data-pagefind-meta="aut">{{ .Aut }}</div>
        <div data-pagefind-meta="org">{{ .Org }}</div>
        <div data-pagefind-meta="sty">{{ .Sty }}</div>
        <div data-pagefind-meta="gnr">{{ .Gnr }}</div>
        <div data-pagefind-meta="ton">{{ .Ton | join ` ` }}</div>
        <div data-pagefind-meta="frm">{{ .Frm | join ` ` }}</div>
        <div data-pagefind-meta="bss">{{ .Bss | join ` ` }}</div>
        <div data-pagefind-meta="lvl" data-pagefind-sort="lvl">{{ .Lvl }}</div>
        <div data-pagefind-meta="ens">{{ .Ens }}</div>
      </div>
      <object id="score" type="application/pdf" data="{{ .URL }}" class="score">
        {{ .Tit }} {{ .Com }} {{ .UkrArt }}{{ .Arr }}</object>
    </div>
  {{ end }}
  <div data-nosnippet>
    <p class="text-red-700">Note: the <strong>Firefox web browser</strong> is
      recommended on mobile devices to directly preview a piece PDF. Other
      browsers on mobile devices may lack native support for direct PDF preview
    </p>
    <p class="mt-2 text-red-700">Примітка: для корректної візуалізації PDF п'єси
      на мобільних пристроях рекомендується <strong>Firefox веб браузер</strong>.
      Інші веб браузери для мобільних пристроїв можуть не підтримувати
      безпосередньої візуалізації PDF
    </p>
  </div>
{{ end }}
