@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans", sans-serif;
  }
}

@layer components {
  .head1 {
    @apply text-2xl font-semibold
  }
  .head2 {
    @apply mt-6 text-xl font-semibold
  }
  .link {
    @apply text-lg font-medium text-blue-700
  }
  .link-block {
    @apply inline-block min-w-64
  }
  .link-button {
    @apply px-2 py-1 bg-blue-100
  }
  .list {
    @apply list-disc list-outside ml-4
  }
  .tag {
    @apply inline-block mx-0.5 my-0.5 px-1 py-0.5
    rounded-md border border-neutral-400 bg-yellow-100
  }
  .score {
    @apply w-full min-h-screen my-8 lg:w-[80%] lg:mx-[10%]
      shadow-[0_0_0.75rem_rgb(96,165,250)]
  }
}

.pagefind-ui__search-input {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.6rem 0.8rem;
  border: 0.08rem solid rgb(163 163 163);
  border-radius: 0.375rem;
}
.pagefind-ui__search-input:focus {
  outline: none;
  border: 0.08rem solid rgb(96 165 250);
  box-shadow: 0 0 0.35rem rgb(96 165 250);
}
.pagefind-ui__search-input::placeholder {
  color: rgb(115 115 115);
}
.pagefind-ui__search-clear {
  display: none;
}
.pagefind-ui__result-title {
  margin-top: 0.4rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: rgb(29 78 216);
}
.pagefind-ui__result-excerpt {
  display: none;
}
.pagefind-ui__result-tag {
  display: inline-block;
  margin: 0.2rem;
  padding: 0rem 0.25rem;
  border: 1px solid rgb(115 115 115);
  border-radius: 0.375rem;
  background-color: rgb(254 249 195);
}
.pagefind-ui__result-tag:first-letter {
  text-transform: lowercase;
}
.pagefind-ui__message {
  font-size: 1.125rem;
  font-weight: 500;
}
.pagefind-ui__button {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 1rem 0.25rem;
  padding: 0.25rem 0.75rem;
  color: rgb(29 78 216);
  border: 0.08rem solid rgb(29 78 216);
  border-radius: 0.375rem;
}
