@import "modern-normalize.min.css";

/* Layout */

header, nav, main, footer {
  width: 90%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

header > * {
  margin: auto;
}

header img {
  margin: 2rem 0 0;
}

.score {
  display: flex;
  flex-direction: column;
}

.score > img {
  margin: auto;
  max-width: 100%;
}

/* Navigation */

nav ul li {
  display: inline;
}

/* Misc */

/* .content, header, nav, main, footer { */
/*   border: thin solid black; */
/* } */
