@import "modern-normalize.min.css";

/* Layout */

header, nav, main, footer {
  width: 80%;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Navigation */

nav ul li {
  display: inline;
}

/* Misc */

.content, header, nav, main, footer {
  border: thin solid black;
}
