{% extends "content/master.njk" %}

{% block content %}
  <h1>Scores</h1>
  <ul>
    {% for score in scores %}
      <li><a href="/score/{{ score.file }}.html">{{ score.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
