<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ score.title or "Баян" }}</title>
    <link href="/content/favicon.svg" rel="icon">
    <link href="/style/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="content">
      <header>
        Header
      </header>
      <nav>
        <ul>
          <li><a href="/">{{ t.home.key }}</a></li>
          <li><a href="/">{{ t.purpose.key }}</a></li>
          <li><a href="/">{{ t.features.key }}</a></li>
          <li><a href="/">{{ t.catalog.key }}</a></li>
          <li><a href="/">{{ t.contact.key }}</a></li>
        </ul>
      </nav>
      <main>
        {% block content %} {% endblock %}
      </main>
      <footer>
        Footer
      </footer>
    </div>
  </body>
</html>
