{% extends "content/master.njk" %}

{% block content %}
  <img src="{{ score.file }}.svg" alt="{{ score.title }}" title="Page 1">
  <a href="{{ score.file }}.pdf">Download PDF</a>
  <a href="{{ score.file }}.ps">Download PS</a>
{% endblock %}
