{% extends "content/master.njk" %}

{% block content %}
  <a href="/score/{{ score.file }}.pdf">Download PDF</a>
  <a href="/score/{{ score.file }}.ps">Download PS</a>
  <div class="score">
    {% for page in score.pages %}
      <img src="/{{ page }}"
           alt="{{ score.title }}" title="Page {{ loop.index }}">
    {% endfor %}
  </div>
{% endblock %}
