# -*- mode: conf -*-
# caddy run --config site/Caddyfile
:7512 {
  handle_path /scores/* {
    root pieces
  }
  root site/public
  file_server
  handle_errors {
    respond "{err.status_code} {err.status_text}"
  }
}
